@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    /* Declare font variables */
    --font-sans: "Figtree", sans-serif;
    --font-serif: "Plus Jakarta Sans", sans-serif;
    --color-ashes: #7f7e83;
    --color-bg: #f9fbfc;
    --color-blue: #256ff1;
    --color-green: #027a48;
    --color-red: #b42318;
    --color-light-green: #ecfdf3;
    --color-light-purple: #f3f0fb;
    --color-purple: #6941c6;
    --color-soft-lightblue: #f0f9ff;
    --color-lightblue: #026aa2;
    --color-soft-lightpurple: #f8f9fc;
    --color-lightpurple: #363f72;
  }

  body {
    @apply font-sans bg-[var(--color-bg)];
  }
}

@layer utilities {
  .ash-text {
    color: var(--color-ashes);
  }

  .lightgreen-bg {
    background-color: var(--color-light-green);
  }

  .lightpurple-bg {
    background-color: var(--color-light-purple);
  }

  .purple-text {
    color: var(--color-purple);
  }

  .lightblue-text {
    color: var(--color-lightblue);
  }

  .lightblue-bg {
    color: var(--color-soft-lightblue);
  }

  .green-text {
    color: var(--color-green);
  }

  .red-text {
    color: var(--color-red);
  }

  .blue-bg {
    background-color: var(--color-blue);
  }
}

@theme {
  --color-primary: var(--color-blue);
  --color-primary-foreground: #ffffff;
}
