@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    /* Declare font variables */
    --font-sans: "Figtree", sans-serif;
    --font-serif: "Plus Jakarta Sans", sans-serif;
    --color-ashes: #7f7e83;
    --color-bg: #f9fbfc;
    --color-blue: #256ff1;
    --color-green: #027a48;
    --color-red: #b42318;
  }

  body {
    @apply font-sans bg-[var(--color-bg)];
  }
}

@layer utilities {
  .ash-color-text {
    color: var(--color-ashes);
  }

  .green-color-text {
    color: var(--color-green);
  }

  .red-color-text {
    color: var(--color-red);
  }

  .blue-color-bg {
    background-color: var(--color-blue);
  }
}

@theme {
  --color-primary: var(--color-blue);
  --color-primary-foreground: #ffffff;
}
